body {
    background-color:  rgb(0, 0, 0)
}

h1 {
    text-align: center;
}

p {
    text-align: left;
}

main{
     background-color:  rgb(0, 0, 0);
}

#banner {
    width: 30%;
}

p{
     color: rgb(255, 255, 255);
}
h3{
    color: goldenrod;
}

h2{
    color: goldenrod;

}

header {
    background-color: goldenrod;
    padding: 60px 0;
    border: 10px ;
    border-style: groove;
    margin: 20px ;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 400px;
    
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    top: 0px;
}

footer {
text-align: center;
background-color: goldenrod;
padding: 40px 0;
}

#img-footer {
    width: 400px;
    margin: 0 0 0 -130px;
}

main {
    width: 940px;
    margin: 0 auto;
}

p{
    padding: 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 10px 400px;
    display: inline-block;
}






